<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

 <test name="AppTest">
    <classes>
      <class name="Testing_Maven.end2end_test.AppTest"/>	  	  
    </classes>
 </test>
	
<test thread-count="5" name="GetLoggedIn">
   <classes>
    <class name="Testing_Maven.end2end_test.GetLogin"/> 
   </classes>
</test>

<test thread-count="5" name="Shopping">
   <classes>
	 <class name="Testing_Maven.end2end_test.ShoppingItem"/>
   </classes>
</test> <!-- Test -->
</suite> <!-- Suite -->
